<section>
    <h1>友情链接</h1>
    <ul>
        <li>
            <a href="https://databricks.com/blog">The Databricks Blog</a>
        </li>
        <li>
            <a href="https://tech.meituan.com/">美团技术团队</a>
        </li>
        <li>
            <a href="https://www.confluent.io/blog/">The Confluent Blog</a>
        </li>
        <li>
            <a href="https://data-artisans.com/blog">The Data Artisans Blog</a>
        </li>
        <li>
            <a href="https://blog.cloudera.com/">The Cloudera Blog</a>
        </li>
        <li>
            <a href="https://yq.aliyun.com/articles">云溪社区</a>
        </li>
        <li>
            <a href="http://ifeve.com/">并发编程网</a>
        </li>
        <li>
            <a href="https://spring.io/blog">The Spring Blog</a>
        </li>



    </ul>
</section>